  .cart {
      color: black;
      background-color: rgb(255, 216, 20);
      border: none;
      padding: 8px 30px;
      border-radius: 20px;
    }

    .request {
      color: white;
      background-color: black;
      border: none;
      padding: 8px 15px;
      border-radius: 5px;
    }

    .schedule {
      background-color: rgb(230, 230, 230);
      border: none;
      padding: 8px 15px;
      border-radius: 5px;
    }

    .gaming-on {
      background-color: rgb(230, 230, 230);
      padding: 8px 10px;
      border: none;
      border-radius: 5px;
      cursor: pointer;
    }

    .gaming-off {
      background-color: black;
      color: white;
    }

    .music-on {
      background-color: rgb(230, 230, 230);
      cursor: pointer;
      border-radius: 5px;
      padding: 8px 15px;
      border: none;
    }

    .music-off {
      background-color: black;
      color: white;
    }
    .tech-on {
      background-color:rgb(230, 230, 230);
      padding: 8px 15px;
      border: none;
      border-radius: 5px;
      cursor: pointer;
    }
    .tech-off {
      background-color:black;
      color: white;
    }